<% provide(:title, 'About Bento') %>
<h1>About Bento</h1>
<p>Bento is a lunch in a box.  It's pretty great!</p>
<p>The Bento Tracker will help you keep records of what bentos you've made, plan future bentos, and keep track of perishables.</p>
<p><a href="http://justbento.com">Learn about making bento</a><br>
