<footer class="footer">
  <small>
    Built from <a href="http://railstutorial.org/">Rails Tutorial</a><br>
	 Except for extreme fandom, Bento Tracker isn't affiliated with <a href="http://www.makikoitoh.com/">Makiko Itoh</a> or any of her websites.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
		<li><a href="https://github.com/therufs/bento_4/issues/new">Report a bug</a></li>
		<li><a href="https://trello.com/b/3ryErGmd/bento#">Request a feature</a></li>
    </ul>
  </nav>
</footer>
